* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.sidebar-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #0f0f0f;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: #a7a3a3;
  height: 7px !important;
  border-radius: 15px;
}

.body-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  background-color: #0f0f0f;
}

.body-scrollbar::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 15px;
}
